@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.heading-h3 {
  margin: 0;
  padding: 0;
}

.heading-p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.page-header-link {
  display: block;
  min-height: 70px;
  margin-left: 70px;
  position: absolute;
  z-index: 100;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 243px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  /* параметры шрифта используемые по умолчанию используем в блоке advanced */
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 13px;
  flex-wrap: wrap;
  min-width: 500px;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 19px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-underlined {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #756257;
  padding-top: 20px;
  padding-bottom: 17px;
  margin-right: 17px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 373px;
  justify-content: right;
  align-items: center;
  padding-right: 70px;
}

.navigation-user-item {
  display: flex;
  flex-wrap: wrap;
}

.svg-find {
  display: flex;
  justify-content: center;
  padding-right: 9px;
  padding-left: 12px;
}

.svg-favorite {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
}

.favorite-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #7DB54F;
  margin-left: 26px;
  margin-top: -26px;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 10px;
}

.navigation-user-want-here {
  padding-left: 20px;
}

.navigation-user-want-here-btm:hover,
.find-hotel-btm:hover,
.navigation-user-want-here-btm:focus,
.find-hotel-btm:focus {
  background-color: #615048;
  color: #FFFFFF;
}

.navigation-user-want-here-btm:active,
.find-hotel-btm:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-want-here-btm:disabled,
.find-hotel-btm:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.navigation-user-want-here-btm {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 37px;
  min-width: 160px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px 15px;
}

.promo {
  position: relative;
  background-color: #dcebf2;
  background-image: url("../images/promo-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
  z-index: 1;
}

.divider {
  position: absolute;
  background-image: url("../images/promo-devider.svg");
  background-repeat: no-repeat;
  min-height: 57px;
  min-width: 1200px;
  z-index: 2;
  bottom: 0;
}

.promo-welcome {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 51px;
}

.advantages-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  grid-column: 1/-1;
}

.advantages-house-street,
.advantages-bridge {
  grid-column: span 2;
}

.advantages-header-more {
  display: block;
  margin: 0 auto;
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 63px;
}

.advantages-five-reasons {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 90px;
}

.advantages-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-town-header,
.advantages-there-devil-bridge-header {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 92px 114px 30px;
}

.advantages-real-town,
.advantages-there-devil-bridge {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-town-desc,
.advantages-there-devil-bridge-header-desc {
  padding: 30px 82px;
}

.advantages-hotel,
.advantages-souvenir,
.advantages-area,
.advantages-camper {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-hotel-picture {
  padding: 77px 161px 30px 163px;
}

.advantages-food-picture {
  padding: 78px 161px 30px 163px;
}

.advantages-souvenir-picture {
  padding: 72px 161px 30px 163px;
}

.advantages-hotel-desc,
.advantages-food-desc,
.advantages-souvenir-desc {
  padding: 30px 85px 77px 85px;
}

.advantages-area-header,
.advantages-road-header,
.advantages-camper-header {
  padding: 103px 110px 30px;
}

.advantages-area-descr,
.advantages-road-descr,
.advantages-camper-descr {
  padding: 30px 85px 102px;
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-food {
  background-color: #ffffff;
}

.advantages-house-street,
.advantages-bridge {
  max-height: 384px;
}

.find-hotel {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 94px;
}

/* Блок заинтересовались или поиск гостиницы */
.find-hotel-interest {
  display: block;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
}

.find-hotel-travel-date {
  display: block;
  min-width: 592px;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

}

.find-hotel-btm {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  min-width: 574px;
  min-height: 60px;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 15px 12px 15px;
}

.newsletter {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-size: 100% auto;
  background: #756157 url("../images/newsletter-background.jpg") no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #395761;
}

.newsletter-header {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-descr {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 29px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
}

.newsletter-field {
  display: block;
  font-family: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: 22px;
  background-color: #F2F2F2;
  color: #000000;
  min-height: 60px;
  min-width: 578px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.newletter-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 200px;
  padding-top: 46px;
}

.newsletter-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background-color: #82B3D3;
  color: #ffffff;
  min-height: 60px;
  min-width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.footer-page {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 71px;
}

.svg-vk,
.svg-telegram,
.svg-youtube {
  fill: #83B3D3;
}

.svg-vk:hover,
.svg-telegram:hover,
.svg-youtube:hover .svg-vk:focus,
.svg-telegram:focus,
.svg-youtube:focus {
  fill: #68A2CA;
}

.svg-vk:active,
.svg-telegram:active,
.svg-youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-vk-link,
.footer-telegram-link,
.footer-youtube-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 58px 12px 13px 13px;
}

.telephone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  padding-top: 45px;
  text-decoration: none;
}

.html-academy-logo {
  fill: #000000;
}

.telephone-number:hover,
.html-academy-logo:hover {
  color: #756157;
  fill: #756157;
}

.telephone-number:focus,
.html-academy-logo:focus {
  color: #756157;
  fill: #756157;
}

.telephone-number:active,
.html-academy-logo:active {
  color: rgba(117, 97, 87, 0.3);
  fill: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 38px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
